<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>프로젝트</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--각 조각들이 삽입될 위치를 설정-->
    <th:block layout:fragments="script"></th:block>
    <th:block layout:fragments="css"></th:block>

</head>
<body>
<div th:replace="~{fragments/header::header}"></div>
<div layout:fragment="content"></div>
</body>
</html>