<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>프로젝트</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:fragment="header">

    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <h1 id="logo">
                    <a href="/main"><img src="/assets/img/오라오라.png" alt="로고" width="100" height="100"></a>
                </h1>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/main" class="nav-link px-2 text-secondary">Home</a></li>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="검색" aria-label="Search">
            </form>
                <div class="text-end">
                    <a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                    <a class="btn btn-danger" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                </div>
        </div>
        </form>
    </div>
</div>
</body>
</html>