<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>프로젝트</title>
    <meta charset="utf-8">
    <th:block layout:fragments="css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </th:block>
    <th:block layout:fragments="script">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
<div class="container mt-3">
    <h2>예약 목록</h2>
    <button type="button" class="btn btn-primary"
            th:onclick="|location.href='@{/main}'|">홈으로</button>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>가게이름</th>
            <th>예약자명</th>
            <th>인원수</th>
            <th>예약 시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data:${list}">
            <td th:text="${data.username}">홍길동</td>
            <td th:text="${data.name}">가게이름</td>
            <td th:text="${data.num}">4</td>
            <td th:text="${data.time}">8:30</td>
            <td><a th:href="@{/booking/update(id=${data.id})}">예약수정</a>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>
