<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Kakao 지도 시작하기</title>
</head>
<body>
<div id="map" style="width:500px;height:400px;"></div>
<ul>
    <li th:text="${data.address}">보기</li>
</ul>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=943fc485ae4bbdb4b07265dc4d6a89f2"></script>
<script th:inline="javascript">
    var mapContainer = document.getElementById('map'),
        mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);


    var geocoder = new kakao.maps.services.Geocoder();


    var address = /*[[${data.address}]]*/ '';
    //var address = document.getElementById('address').innerText;

    geocoder.addressSearch(address, function(result, status) {
        console.log('Geocoder 결과:', result);
        console.log('Geocoder 상태:', status);


        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);


            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });


            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">가게</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
</script>
</body>
</html>